.banner {
    background-color: $bannerBackgroundColor;
    padding: 118px 0;
    text-align: center;
    margin: 0 auto;
    background: linear-gradient(
            $bannerBackgroundColorGradient,
            $bannerBackgroundColorGradient
        ),
        url('../images/banner/header_phone.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 400px;
    max-width: 1600px;

    &-container {
        background-color: $bannerBackgroundColor;
    }

    &__title {
        font-weight: 900;
        font-size: 26px;
        font-family: inherit;
        line-height: 1.36;
        letter-spacing: 0.06em;
        color: $whiteColor;
        margin: 0 auto;
        margin-bottom: 30px;
        max-width: 396px;
    }

    &__button {
        color: $whiteColor;
        background: $mainPageColor;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
        border: none;
        font-weight: 700;
        font-size: 16px;
        line-height: 1.87;
        letter-spacing: 0.06em;
        margin: 0 auto;
        padding: 10px 41px;
    }
}

@media (min-width: $breakpoint-tablet) {
    .banner {
        background: linear-gradient(
                $bannerBackgroundColorGradient,
                $bannerBackgroundColorGradient
            ),
            url('../images/banner/header_tablet.jpg');
        max-width: $breakpoint-tablet;

        &__title {
            font-size: 26px;
        }
    }
}

@media (min-width: $breakpoint-desktop) {
    .banner {
        background: linear-gradient(
                $bannerBackgroundColorGradient,
                $bannerBackgroundColorGradient
            ),
            url('../images/banner/header_desktop.jpg');
        height: 600px;
        max-width: 1200px;
        position: relative;

        &__title {
            font-size: 44px;
            width: 700px;
            align-items: center;
        }

        & > .container {
            position: absolute;
            top: 50%;
            transform: translate(0, -50%);
        }
    }
}
