.description {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    // gap: 30px;
    margin: 0 auto;

    li {
        padding: 15px;
    }

    &__container {
        width: 100%;
        height: 120px;
        background-color: $buttonColor;
        border-radius: 4px;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-bottom: 30px;
    }

    &__subtitle {
        font-weight: 700;
        font-size: 14px;
        line-height: 1.14;
        color: $secondaryPageColor;
        margin-bottom: 10px;
        text-align: center;
    }

    &__content {
        line-height: 1.71;
        color: $contactColor;
    }
}

@media (min-width: $breakpoint-tablet) {
    .description {
        li {
            width: 50%;
        }

        &__subtitle {
            text-align: left;
        }
    }
}

@media (min-width: $breakpoint-desktop) {
    .description li {
        width: 25%;
    }
}
