.logo {
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    color: $blackColor;

    span {
        color: $mainPageColor;
    }

    &--menu {
        margin-right: 93px;
        padding: 15px 0 15px;
    }

    &--footer {
        color: $whiteColor;
    }
}

@media (min-width: $breakpoint-tablet) {
    .logo {
        &--menu {
            padding: 24px 0 25px;
        }
    
    }
}

@media (min-width: $breakpoint-desktop) {
    .logo {
        &--menu {
            padding: 24px 0 25px;
        }
    
    }
}
